{:kotoba.app/id "cloud.itonami.isic-4730", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreicgpjhdtiztrviwda4lfhejpu7o7z64ivhthmyuuxywrf7vaqto3a", :kotoba.app/embed-url "ipfs://bafkreicgpjhdtiztrviwda4lfhejpu7o7z64ivhthmyuuxywrf7vaqto3a", :published {:archive "https://kotobase.net/ipfs/bafkreicgpjhdtiztrviwda4lfhejpu7o7z64ivhthmyuuxywrf7vaqto3a", :size 72626, :put-status 201, :get-status 200, :at "2026-08-15T13:55:48.686Z"}}
